.Item {
    
    width: 60%;
    height: fit-content;
    border: 2px solid rgb(235, 219, 222);
    box-shadow: 0 5px 3px crimson;
    text-align: center;
    margin: 16px auto;
    padding: 10px;
    background-color: whitesmoke;
    
}

.Delete {

    background-color:red;
    margin-right: 10px;
    padding:8px; 
    font-family : Lobster;
}

.Done {

    background-color:green;
    padding:8px;
    font-family : Lobster;
}

.A {
    display:flex;
    position: relative;
    margin-right: 10px;
    margin-left: 30%;
}

.A input {

    height:60%;
    font-family:Lobster;
    font-size:24px;
    text-align:center;
}


@media only screen and (max-width: 500px){
    .Item {
        width : fit-content;
        height : fit-content;
        padding: 15px;
        display: flex;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .A {
        display:flex;
        margin-right: 5px;
        margin-left: 0;
    }

    .A input {
        height: 50%;
        width: 60%;
    }

    .Delete {
        margin-right: 10px;
        padding:5px; 
      
    }
    
    .Done {
        padding:5px;       
    }


}
